/*A Flexbox solution for Right to left languages inspired by 
"Advanced Responsive Layouts with CSS Flexbox" by "Morten Rand-Hendriksen" */


/*--------------------------------------------------------------
Base Navbar Styles
--------------------------------------------------------------*/
.menu-section {
	padding-bottom: 2em;
	margin-bottom: 2em;
	border-bottom: 1px solid hsl(0, 0%, );
}

.menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	background: hsl(0, 0%, 15%);
}

.menu li a {
	display: block;
	text-decoration: none;
	text-align: center;
	color: white;
	padding: .6em 1em;
    font-family: 'IranianSansRegular'; 
    font-weight: normal; 
    font-style: normal; 

}

.menu li a:hover {
	background: hsl(0, 0%, 25%);
}

/*--------------------------------------------------------------
RTL Styles
--------------------------------------------------------------*/
@media screen and (min-width: 768px){
	.single-nav ul{
		display: flex;
		flex-direction: row-reverse;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.single-nav li{
		flex-grow: 1;
		text-align: center;
	}
}@